# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml
cheaptickets-ui-tests/*.iml
facebook-ui-tests/*.iml
framework/*.iml
service-api-tests/*.iml
bdd-ui-tests/*.iml
mobile-tests/*.iml

*.idea
cheaptickets-ui-tests/*.idea
facebook-ui-tests/*.idea
framework/*.idea
service-api-tests/*.idea
bdd-ui-tests/*.idea
mobile-tests/*.idea

target/*
cheaptickets-ui-tests/target/*
facebook-ui-tests/target/*
framework/target/*
service-api-tests/target/*
bdd-ui-tests/target/*
mobile-tests/target/*